@{
    ViewData["Title"] = "Skoleoplysninger";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Dette er en placeholder for en skole og deres priser for lovpakken, samt hvad der ellers er inkluderet</p>
    <p>Skolen her er </p>
</div>