@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til FåKørekortet.dk</h1>
    <p>Her på siden kan du læse meget mere omkring hvad det kræver og koster at få kørekort, samt sammenligne priser fra forskellige køreskoler</p>
</div>
